.ag-theme-quartz-dark {
  --ag-background-color:        #000000;
  --ag-foreground-color:        #d1d5db;
  --ag-border-color:            #262626;
  --ag-header-background-color: #000000;
  --ag-header-foreground-color: #9ca3af;
  --ag-row-height:              28px;
  --ag-header-height:           32px;
  --ag-font-size:               12px;
  --ag-font-family:             'JetBrains Mono', monospace;
  --ag-odd-row-background-color: transparent;
  --ag-row-border-color:        #262626;
  --ag-cell-horizontal-padding: 12px;
}
